/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url(src\app\pages\home\book.jpg); background-repeat: no-repeat; background-size: cover; overflow-y: hidden;}
